<div class="container text-center my-3">
  <div
    class="jumbotron"
    style="background-color: rgb(94, 231, 94);color: white;"
  >
    <h1>Admin OK LOGIN!</h1>
    <h2><i>Bienvenido admin</i></h2>
    <br />
    {{!-- <h3>dirección: {{datos.direccion}}</h3>
    <h4>visitas: {{contador}}</h4> --}}
    <button
      class="btn btn-danger my-5"
      onclick="location.href='/logout'"
    >LOGOUT</button>
    <button class="btn btn-danger my-5" onclick="location.href='/chat'">Ir al
      chat</button>
    <button
      class="btn btn-danger my-5"
      onclick="location.href='/adminUsuarios'"
    >Administrar usuarios</button>
    <br />
    <br />
    <h2>Crear nuevo producto</h2>
    <br />
    <form
      class="form"
      action="/createProd"
      method="post"
      role="form"
      autocomplete="off"
    >
      <div class="form-group">
        <input
          id="name"
          name="name"
          placeholder="name"
          class="form-control"
          type="text"
          required
        />
      </div>

      <div class="form-group">
        <input
          id="img"
          name="img"
          placeholder="img"
          class="form-control"
          type="text"
          required
        />
      </div>

      <div class="form-group">
        <input
          id="description"
          name="description"
          placeholder="description"
          class="form-control"
          type="text"
          required
        />
      </div>

      <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="newProd" />
      </div>
    </form>
    <br />
    <br />

    <h2>Productos</h2>

    <ul>
      {{#each prods}}
        <li>{{this.name}}
        </li>
        <img src="{{this.url}}" alt="" />

        <button
          class="btn btn-danger my-5"
          onclick="location.href='/deleteProd/{{this.id}}'"
        >Borrar este producto</button>
        <br />
      {{/each}}
    </ul>
  </div>
</div>