<div class="container text-center my-3">
  <div
    class="jumbotron"
    style="background-color: rgb(94, 231, 94);color: white;"
  >
    <h1>Admin OK LOGIN!</h1>
    <h2><i>Bienvenido admin</i></h2>
    <br />
    {{!-- <h3>dirección: {{datos.direccion}}</h3>
    <h4>visitas: {{contador}}</h4> --}}
    <button
      class="btn btn-danger my-5"
      onclick="location.href='/logout'"
    >LOGOUT</button>
    <button class="btn btn-danger my-5" onclick="location.href='/chat'">Ir al
      chat</button>
    <button
      class="btn btn-danger my-5"
      onclick="location.href='/logged'"
    >Volver</button>
    <br />
    <br />
    <h2>usuarios</h2>

    <ul>
      {{#each users}}
        {{!-- <img src="{{this.url}}" alt="" /> --}}
        <li>
          Usuario:
          {{this.name}}
          Mail:
          {{this.mail}}
          <button
            class="btn btn-danger my-5"
            onclick="location.href='/deleteUser/{{this.id}}'"
          >Borrar este producto</button>
        </li>
      {{/each}}
    </ul>
  </div>
</div>