<div class="container text-center my-3">
  <div class="jumbotron" style="background-color: rgb(94, 231, 94): white;">
    <h2><i>Bienvenido {{datos.nombre}}</i></h2>
    <br />
    <h3>dirección: {{datos.direccion}}</h3>

    <button class="btn btn-danger my-5" onclick="location.href='/chat'">Ir al
      chat</button>

    <button
      class="btn btn-danger my-5"
      onclick="location.href='/logout'"
    >LOGOUT</button>

    <h2>Productos</h2>

    <ul>
      {{#each prods}}
        <li>{{this.name}}
          <br />
          {{this.description}}
        </li>
        <img src="{{this.url}}" alt="" />
        <form action="/pedido/{{this.name}}" method="post">
          <button type="submit" name="upvote" value="Upvote">
            Pedir este producto</button>
        </form>
        <br />
      {{/each}}
    </ul>

  </div>
</div>